
B2_BUCKET_NAME=back-provider-test
B2_BUCKET_ID=5d9fce497d7972e50012

B2_APP_KEY_ID=004dc29d9250200000002
B2_APP_KEY_NAME=adonis-provider-test
B2_APP_KEY=K004kzOMal9BDsoebqACP4

B2_APP_KEY_PREFIX=provider-files